#hero-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    text-align: center;
    padding: 20px;
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}