/* global styles */

:root {
    --brand-color: #1e407c;
    --brand-color-dark: #001E44;
    --brand-color-light: #96BEE6;
}

html {
    font-size: 16px; /* all body/h text is relative to this value */
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    line-height: 1.6;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.navbar, footer, .navbar a, footer a  {
    background-color: var(--brand-color);
    color: white;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}

.navbar a:hover, footer a:hover {
    transition: color ease-in-out 0.2s;
    color: var(--brand-color-light);
    text-shadow: 2px 2px 2px var(--brand-color-dark);
}